body{
    font-family: Poppins;
}

header{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 16px;
    text-decoration: none;
    color: var(--cor-forte);
    padding: 10px 15px;
}

.menu li a:hover{
    background-color: var(--cor-intermediaria);
} 

.banner{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.banner img{
    width: 100%;
}

.banner .text-banner{
    position: absolute;
    left: 300px;
    text-transform: uppercase;
    color: var(--cor-intermediaria);
}

.text-banner h1{
    font-size: 44px;
    font-weight: 600;
}

.text-banner p{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}

.text-banner button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-fraca);
    background-color: var(--botao-claro);
}

.sobre header{
    font-size: 44px;
    font-weight: 400;
    height: 100px;
}

.sobre .sobre-texto1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sobre .txt-btn{
    max-width: 675px;
    margin: 45px ;
}

.sobre .txt-btn p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-right: 0.5px;
}

.sobre .txt-btn button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-fraca);
    background-color: var(--botao-escuro);
}

.sobre .txt-btn button:hover{
    background-color: var(--cor-intermediaria);
} 

.sobre .sobre-texto2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sobre .sobre-texto2 p{
    width: 880px;
    margin: 45px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 400;
}

.portfolio header{
    font-size: 44px;
    font-weight: 400;
    height: 100px;
}

.portfolio .images{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio .images ul{
    width: 1200px;
}

.portfolio .images li{
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}

.portfolio button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-fraca);
    background-color: var(--botao-escuro);
    margin: auto;
    display: block;
}

button:hover{
    background-color: var(--cor-intermediaria);
} 

.depoimentos header{
    font-size: 44px;
    font-weight: 400;
    height: 100px;
    margin-top: 50px; 
    margin-bottom: 20px;  
}

.depoimentos .container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.depoimentos .bloco-depoimento{
    width: 372px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloco-depoimento .depoimento-image{
    width: 110px;
    display: flex;
    flex-direction: column;
    
}

.bloco-depoimento .depoimento-txt{
    margin-left: 20px;
    margin-top: 15px;
}

.bloco-depoimento .depoimento-txt h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bloco-depoimento .depoimento-txt p{
    font-size: 12px;
    font-weight: 400;
}

.contato header{
    font-size: 44px;
    font-weight: 400;
    height: 100px;
    margin-top: 50px;   
    margin-bottom: 20px;
}

.contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

form .form-txt{
    width: 363px;
    height: 53px;
    margin: 25px;
    outline: unset;
    border: 1px solid black;
    padding: 15px;
}

form input::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: var(--cor-forte);
}

form textarea::placeholder{
    font-size: 15px;
    font-weight: 400;
    color: var(--cor-forte);
    font-family: Poppins;
}

form .form-down{
    display: flex;
}

form .form-btn{
    display: flex;
    width: 495px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 30px;
}

form textarea{
    width: 632px;
    height: 170px;
    outline: unset;
    border: 1px solid black;
    margin: 20px;
    margin-right: 42px;
    padding: 15px;
}

form .form-txt-telefone{
    width: 495px;
    height: 53px;
    margin: 20px;
    margin-left: 30px;
    outline: unset;
    border: 1px solid black;
    padding: 15px;
}

form p{
    width: 280px;
    padding: 10px;
}

.form-button{
    height: 53px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-fraca);
    background-color: var(--botao-claro);
}